# Specify the repository location
#
# RESTIC_REPOSITORY="/srv/restic-repo"
#
# RESTIC_USER="deknix"
# RESTIC_HOST="deknix.example.org"
# RESTIC_REPOSITORY="sftp:${RESTIC_USER}@${RESTIC_HOST}:/srv/restic-repo"
# RESTIC_SSH_KEY_FILE="~/.ssh/id_restic"

# Specify the restic command, i.e., when using sftp without ssh config
# RESTIC="restic"
# RESTIC="restic -o sftp.command='ssh ${RESTIC_USER}@${RESTIC_HOST} -i ${RESTIC_SSH_KEY_FILE} -s sftp'"

# Password of the repository
# RESTIC_PASSWORD="12345"

# Password of the repository stored in file
# RESTIC_PASSWORD_FILE=".restic_password"

# Configuring a program to be called when the password is needed
# RESTIC_PASSWORD_COMMAND="./password_store.sh"

# Configure password store (default: gopass)
# RESTIC_PASSWORD_STORE_COMMAND=""

# Configure path for password in store
# RESTIC_PASSWORD_STORE_PATH="dreknix/restic/repo"

# List of directories that are backed up
# RESTIC_BACKUP_PATHS="/dirA /dirB /dirC"

# Retention time limits for restic prune
# RESTIC_RETENTION_DAYS="7"
# RESTIC_RETENTION_WEEKS="8"
# RESTIC_RETENTION_MONTHS="12"
# RESTIC_RETENTION_YEARS="2"

# Report via email
# RESTIC_EMAIL_ADDRESS="dreknix@example.org"
# RESTIC_EMAIL_ON_SUCCESS="false"
# RESTIC_EMAIL_ON_FAILURE="false"

# Report via node_exporter
#
# Available metrics:
#  * restic_last_run_ts - timestamp (seconds) of last restic backup run
#
# RESTIC_PROM_DIRECTORY="/srv/node_exporter/textfile-collector"

### Internal

# Cache directory (use not user directory)
RESTIC_CACHE_DIR="/var/cache/restic"
